*{
    padding: 0;
    margin: 0;
    
}
body{
    background: rgb(7,29,42);
background: linear-gradient(48deg, rgba(7,29,42,1) 22%, rgba(0,20,44,1) 79%);

        margin: 0;
        padding: 0;
      
}
/*Scroolbar */

    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
        scrollbar-width: auto;
        scrollbar-color: #f3f3f3 transparent;
      }
  
      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 16px;
      }
  
      *::-webkit-scrollbar-track {
        background: linear-gradient(48deg, rgba(7,29,42,1) 22%, rgba(0,20,44,1) 79%);

      }
  
      *::-webkit-scrollbar-thumb {
        background-color: #f3f3f3;
        border-radius: 10px;
        border: 3px solid #ffffff;
      }
    
/*Scroolbar */
h2{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
 




/*new css for card hover */
.container{
    width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      box-sizing: border-box;
      padding: 5px;
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 90%;
        align-items: center;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        transition: 400ms;
        border: 1px solid white;
      }
      .card:hover{
        background-color: rgba(241, 241, 241, 0.343);
      }
      .container .card:hover {
        transform: scale(1.1, 1.1);
      }
      
      .container:hover > .card:not(:hover) {
        filter: blur(10px);
        transform: scale(0.9, 0.9);
      }
/*new css for card hover */

.card h3{
    background: none;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    color: white;
    text-decoration: none;
}
.card :link{
    color:none;
    text-decoration: none;
   
}
.card p{
    background: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: smaller;
    color: rgb(170, 170, 170);
    text-decoration: none;
    padding: 10px;
}
.card p:hover{
    color: white;
}
.card img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
    object-fit:contain;
    border-radius: 10px;
    margin-top: 15px; 
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    width: 85%;
    margin-bottom: 10px;
    cursor: pointer;
}

button{
    background: none;
    border-color: white;
    color: white;
    width: 100%;
    padding: 2%;    
    font-size: small;
}
button a{
    font-size: small;
}

button :link,:visited{
    text-decoration: none;
    color: white;
}




/* Responsive */


  /* Styles for screens larger than 1200px */
@media screen and (min-width: 1201px) and (max-width: 1380px) {
    /* Add your CSS styles here for screens between 1201px and 1380px */
    .card{
        height: 100%;
    }
    .buttons button{
        margin-top: -25px;
    }
    .card img{
        width: 80%;
        height: 50%;
    }
  }
@media screen and (min-width: 1021px) and (max-width: 1200px) {
    /* Add your CSS styles here for screens between 1201px and 1380px */
   .card{
    height: 100%;
    margin:10px;
   }
    .card h3{
        font-size: 15px;
    }
    .card p{
        margin-top: -5px;
        font-size:small ;
    }
    .buttons button{
        margin-top: -25px;
    }
    button{
        padding: 0%;
        margin: 0;
        font-size: 10px;
        border-radius: 2px;
    }
    .card img{
        width: 80%;
        height: 90%;
    }

  }
  
@media screen and (min-width: 1020px) and (max-width: 1025px) {
    /* Add your CSS styles here for screens between 1201px and 1380px */
   .card{
    height: 100%;
    
   }
    .card h3{
        font-size: 13px;
    }
    .card p{
        margin-top: -5px;
        font-size:10px ;
    }
    .buttons{
        margin-top: 12px;
    }
    button{
        padding: 0%;
        margin: 0;
        font-size: 10px;
        border-radius: 2px;
    }
    .card img{
        width: 80%;
        height: 90%;
    }

  }
@media only screen and (min-width:919px) and (max-width: 1020px) {
    .card{
        height: 100%;
    }
    .card img{
        height:40%;
        width: 90%;
    }
    .card p{
        margin-top: 0px;
    }
    .buttons{
        margin: 0;
    }
    .buttons button{
        font-size: 9px;
        width: 90%;
        gap: 0px;
        padding: 2px;
        margin-bottom: 10px;
        border:white solid 1px ;

    }
    
  }  
@media only screen and (min-width:700px) and (max-width: 919px) {
    
    .card{
        height: 100%;
    }
    .card img{
        height:40%;
        width: 90%;
    }
    .card h3{
        font-size: small;
    }
    .card p{
        font-size: 10px;
        margin-top: 0px;
    }
    .buttons{
        margin: 0;
        gap:10px;
        font-size: 10px;
    }
    .buttons button a span{
        font-size: 10px;
    }
    .buttons button{
        font-size: 5px;
        width: 90%;
        gap: 0px;
        padding: 1px;
        margin-top: -10px;
        margin-bottom: 10px;
        border:white solid 1px ;

    }
    
  }  
@media only screen and (min-width:500px) and (max-width: 700px) {
   .container{
    width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      box-sizing: border-box;
      padding: 5px;
   }
    .card{
        height: 100%;
    }
    .card img{
        height:40%;
        width: 90%;
    }
    .card h3{
        font-size: small;
    }
    .card p{
        font-size: 10px;
        margin-top: 0px;
    }
    .buttons{
        margin: 0;
        gap:10px;
        font-size: 10px;
    }
    .buttons button a span{
        font-size: 10px;
    }
    .buttons button{
        font-size: 5px;
        width: 90%;
        gap: 0px;
        padding: 1px;
        margin-top: -10px;
        margin-bottom: 10px;
        border:white solid 1px ;

    }
    
  }  
@media only screen and (min-width:400px) and (max-width: 500px) {
    .container{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       box-sizing: border-box;
       align-items: center;
       justify-content: center;
       margin: 0;
       padding: 0;
    }
     .card{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-bottom:10px ;
        margin-top:10px ;
     }
     .card img{
         height:50%;
         width: 90%;
     }
     .card h3{
         font-size: large;
     }
     .card p{
         font-size: small;
         margin-top: 0px;
     }
     .buttons{
         margin: 0;
         gap:10px;
     }
     .buttons button a span{
         font-size: 15px;
     }
     .buttons button{
         font-size: 5px;
         width: 90%;
         gap: 0px;
         padding: 5px;
         margin-top: -10px;
         margin-bottom: 10px;
         border:white solid 1px ;
 
     }
     
  }    
@media only screen and (min-width:300px) and (max-width: 400px) {
    .container{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       box-sizing: border-box;
       align-items: center;
       justify-content: center;
       margin: 0;
       padding: 0;
    }
     .card{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-bottom:10px ;
        margin-top:10px ;
     }
     .card img{
         height:50%;
         width: 90%;
     }
     .card h3{
         font-size: large;
     }
     .card p{
         font-size: 10px;
         margin-top: 0px;
     }
     .buttons{
         margin: 0;
         gap:10px;
     }
     .buttons button a span{
         font-size: 11px;
     }
     .buttons button{
         font-size: 5px;
         width: 90%;
         gap: 0px;
         padding: 5px;
         margin-top: -10px;
         margin-bottom: 10px;
         border:white solid 1px ;
 
     }
     
  }    
@media only screen and  (max-width: 300px) {
    .container{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       box-sizing: border-box;
       align-items: center;
       justify-content: center;
       margin: 0;
       padding: 0;
    }
     .card{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-bottom:10px ;
        margin-top:10px ;
     }
     .card img{
         height:50%;
         width: 90%;
     }
     .card h3{
         font-size: 15px;
     }
     .card p{
         font-size: 10px;
         margin-top: 0px;
         padding: 0 0 5 0;
     }
     .buttons{
         margin: 0;
         gap:10px;
     }
     .buttons button a span{
         font-size: 10px;
     }
     .buttons button{
         font-size: 5px;
         width: 90%;
         gap: 0px;
         padding: 3px;
         margin-top: -10px;
         margin-bottom: 10px;
         border:white solid 1px ;
 
     }
     
  }    
  
